/**
 * The following styles get applied inside the editor only.
 */

.query-block__notice {
  margin: 0 0 5px;
}

.query-block-control .components-base-control__label {
  display: block;
  margin-bottom: 4px;
}

.query-block-control .query-block__control {
  min-height: 30px;
  border-color: #8c8f94;
  border-radius: 3px;
}
